*{
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

hr {
  border: 1px solid #3a3a3a;
  width: 95%;
  margin:  10px auto;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
